@model WebMvc.Models.Driver

@{
    ViewData["Title"] = "Edit";
}

<h1 class="bg-info text-white">Edit Driver</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="DriverId" />
            <div class="form-group">
                <label asp-for="DriverIdentity" class="control-label"></label>
                <input asp-for="DriverIdentity" class="form-control" />
                <span asp-validation-for="DriverIdentity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="OnLine" /> 
                    @Html.DisplayNameFor(model => model.OnLine)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="OnDelivery" /> 
                    @Html.DisplayNameFor(model => model.OnDelivery)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<hr />
<div>
    <a asp-action="Index" class="btn btn-secondary">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
